<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-yozio"
        version="0.0.1">

    <name>Yozio</name>

    <description>
      This is a Cordova plugin for the Yozio mobile app tracking platform. https://www.yozio.com
    </description>

    <license>MIT</license>

    <!-- JavaScript Interface -->
    <js-module src="www/yozio-plugin.js" name="YozioPlugin">
        <clobbers target="YozioPlugin" />
    </js-module>

    <!-- Android Configuration -->
    <!--
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YozioPlugin">
                <param name="android-package" value="com.yozio.YozioPlugin" />
            </feature>
            <access origin="https://*.yozio.com" />
        </config-file>

        <source-file src="src/android/yozio.java" target-dir="src/com/yozio" />

        <source-file src="src/android/YozioPlugin.java" target-dir="src/com/yozio" />

        <source-file src="libs/android/yozio-android-sdk.jar" target-dir="libs" />

    </platform>
    -->

    <!-- iOS Configuration -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="YozioPlugin">
                <param name="ios-package" value="YozioPlugin" />
            </feature>
            <access origin="https://*.yozio.com" />
        </config-file>

        <source-file src="libs/ios/Resources/YozioDefaults.plist" />

        <source-file src="src/ios/AppDelegate+YozioPlugin.m" />

        <header-file src="src/ios/YozioPlugin.h" />
        <source-file src="src/ios/YozioPlugin.m" />

        <header-file src="libs/ios/Yozio.h" />
        <source-file src="libs/ios/Frameworks/libYozio.a" framework="true" />

        <framework src="SafariServices.framework" />

    </platform>

</plugin>
